:root {
  --main-red: #b2596b;
  --main-orange: #d17369;
  --main-pink: #f4b8b7;
  --main-tone: #f6e8cb;
  --main-purple: #9e599a;
  --main-lav: #d7bdd8;
  --main-dark: #273238;
  --main-light: #f2f2f2;
}
