:root {
  --main-red: #b2596b;
  --main-orange: #d17369;
  --main-pink: #f4b8b7;
  --main-tone: #f6e8cb;
  --main-purple: #9e599a;
  --main-lav: #d7bdd8;
  --main-lav1: #ead6eb;
  --main-dark: #273238;
  --main-light: #f2f2f2;
  --main-light1: #f0f0f0;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
